:root{
  /*PALETA DE CORES*/
  --vClaro: #04BF8A;
  --colorHeader: #107266;
  --colorHeaderDark: #0d5e54;
  --aClaro: #026873;
  --aEscuro: #024059;
  --Roxo: #7538F2;
  --colorSimbol: #11e763;
}


/**************SWIPER PRINCIPAL*****************/

 .swiper {
   width: 100%;
   height: 600px;
   z-index: 0;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;

   /* Center slide text vertically */
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
   z-index: 0;
 }

 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 0;
 }

.swiper-pagination-bullet {
  padding: 1.5px;
  border-radius: 5px !important;
  border: 2px white solid;
	opacity: 1 !important;
	background: var(--colorHeader) !important;
  transition: .3s;
}
.swiper-pagination-bullet-active {
	color:#fff;
	background: var(--colorSimbol)!important;
  padding: 1.5px 6px;
}
.slide-button{
  font-weight: bold;
  color: white !important;
  background-color: var(--colorSimbol);
  padding: 10px;
  border-radius: 10px;
  height: 15px !important;
  width: 15px !important;
  border: white solid 2px;
  transition: .3s;
}
.slide-button::after{
  font-size: 15px!important;
}
.slide-button:active{
  padding: 12px;
  transition: .3s;
}
.swiper-button-prev{
  left: 20px !important;
}
.swiper-button-next{
  right: 20px !important;
}
/**************SWIPER DROPDOWN VERTICAL*****************/
#swiper-dpd{
  height: 100%;
  overflow: hidden;
  z-index: -10 !important;
}
.swiper-container{
  height: 50%;
}
.swiper-slide{
  background-color: transparent;
  color: white;
  display: block;
}
#vertical-pagination{
  pointer-events: none;
}
#vertical-pagination .swiper-pagination-bullet {
  padding: 1.5px;
  border-radius: 5px !important;
  border: none;
	opacity: 1 !important;
	background: var(--aEscuro) !important;
  transition: .3s;
}
#vertical-pagination .swiper-pagination-bullet-active {
	background: var(--colorSimbol)!important;
  padding: 5px 1.5px;
  transition: .3s;
}

.article-dpd{
  width: 100%;
  height: 100%;
  border-top: 2px var(--vClaro) solid;
  margin-top: 15px;
}
.swiper-slide h4{
  color: var(--colorSimbol);
  font-size: 12px;
  font-weight: bolder;
  background-color: var(--colorHeaderDark);
  float: left;
  padding: 0 10px;
  margin-top: -10px;
}

#img-inicial{
  background-image: url(https://www.soluti.com.br/media/banner_home/ASSINE.ONLINE_1__1.png);
}